---
import DefaultLayout from "@/layouts/DefaultLayout.astro";
---

<DefaultLayout title="Blog" description="Read my latest blog posts">
    <h1>Blog</h1>
    <p>Blog posts will appear here.</p>
</DefaultLayout>
