---
interface Props {
    title?: string;
    description?: string;
}

const { title, description = "Personal portfolio and blog" } = Astro.props;

const pageTitle = title ? `${title} - phwu` : "phwu";
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<meta name="description" content={description} />

<link rel="icon" href="/favicon.ico" type="image/x-icon" sizes="32x32" />
<link rel="icon" href="/favicon.svg" type="image/svg+xml" />
<link rel="apple-touch-icon" href="/apple-touch-icon.png" />

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
    href="https://fonts.googleapis.com/css2?family=Cactus+Classical+Serif&display=swap"
    rel="stylesheet"
/>

<title>{pageTitle}</title>
