---
import Head from "@/components/layout/Head.astro";
import "@/styles/global.css";

interface Props {
    title?: string;
    description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <Head title={title} description={description} />
    </head>
    <body>
        <slot />

        <script>
            import { applyGrainTexture } from "@/utils/grain";

            const mainEl = document.querySelector("body");
            if (mainEl) {
                applyGrainTexture(mainEl);
            }
        </script>
    </body>
</html>
