---
import Head from "@/components/layout/Head.astro";
import "@/styles/global.css";

interface Props {
    title?: string;
    description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <Head title={title} description={description} />
    </head>
    <body>
        <slot />
    </body>
</html>
